<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KVIMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="nav-links left">
                <a href="{{ url_for('index') }}">Accueil</a>
                <div class="dropdown">
                    <a href="#" class="dropdown-trigger">Nos marques</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('index') }}">Toutes les marques</a>
                        {% for marque in marques %}
                            <a href="{{ url_for('index', marque=marque[0]) }}">{{ marque[0] }}</a>
                        {% endfor %}
                    </div>
                </div>
                <a href="{{ url_for('about') }}">À propos</a>
            </div>

            <a href="{{ url_for('index') }}" class="nav-brand">KVIMS</a>

            <div class="nav-links right">
                {% if current_user %}
                        <a href="{{ url_for('gestion_articles') }}" class="nav-button">Gérer les Articles</a>
                    <a href="{{ url_for('logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Connexion</a>
                    <a href="{{ url_for('register') }}">Inscription</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </main>
</body>
</html> 